<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    {% include "metadata.html" %}
  </head>

  <body style="background-color: #fffbed">
    <div
      class="coming-soon"
      style="
        box-sizing: border;
        padding: 30px;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <img
        style="display: block; max-width: 100%"
        src="/img/coming-soon.png"
        alt="Atterbury Workshop Coming Soon"
      />
    </div>
  </body>
</html>
