<footer class="footer" role="contentinfo">
  <div class="container container--footer">
    <div class="footer__media">
      <img src="/img/logos/footer.png" alt="" />
    </div>

    <div class="footer__links">
      <div class="footer__brand">
        <label for="brand" class="brand-list">
          <h5>Company</h5>
        </label>
        <input type="checkbox" id="brand" />
        <ul class="link-list">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/services">Services</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/help">Help</a>
          </li>
        </ul>
      </div>

      <div class="footer__shop">
        <label for="shop" class="shop-list">
          <h5>Shop</h5>
        </label>
        <input type="checkbox" id="shop" />
        <ul class="link-list">
          <li>
            <a href="/fresh-goods">Everything</a>
          </li>
          <li>
            <a href="/fresh-goods/prints">Prints</a>
          </li>
          <li>
            <a href="/fresh-goods/kiddos">Kids</a>
          </li>
          <li>
            <a href="/fresh-goods/small-batch">Small Batch</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__fine container">
    <p>&copy; 2023 Atterbury Workshop LLC. Made in Northern Kentucky.</p>
  </div>
</footer>
