<header class="header" role="banner">
  <div class="container">
    <a href="#" class="menu">
      <img src="/img/icons/icon-hamburger.png" width="40" class="menu-img" />
    </a>

    <div id="logo">
      <a href="/">
        <img
          src="/img/logos/atterbury-lockup.png"
          alt="Johnny Maitai, the official mascot of Atterbury Workshop"
        />
      </a>
    </div>

    <nav class="navigation" role="navigation">
      <ul>
        <li>
          <a class="nav__goods" href="/fresh-goods">Fresh Goods</a>
        </li>
        <li>
          <a class="nav__services" href="/services">Services</a>
        </li>
        <li>
          <a class="nav__blog" href="/blog">Blog</a>
        </li>
        <li>
          <a class="nav__about" href="/about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
