.services__highlight {
    border-radius: 10px;
    display: block;
    max-width: 100%;
}

.breakdown__grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
    margin: 40px 20px;
}

.breakdown__step {
    margin-bottom: 40px;
    text-align: center;

    h4 {
        margin-bottom: 20px;
    }

    span {
        display: block;
        margin-bottom: 15px;
    }

    p {
        font-size: 22px;
    }
}

.contact {
    margin-bottom: 80px;
}

@media only screen and (max-width: 749px) {
    .breakdown__grid {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 750px) {
    .breakdown__grid {
        flex-direction: row;
        justify-content: space-between;
    }

    .breakdown__step {
        width: 30%;
    }
}