body {
    font-size: 16px;
}

body,
input,
textarea,
select,
button {
    @include proxima;
    color: $primary;
}

.super-header {
    font-size: 12vw;
    text-align: center;
}

h1 {
    @include cooper;
    color: $primary;
    font-size: 32px;
}

.header__logo h1 {
    @include casey;
    color: $primary;
    font-size: 40px;
}

h2 {
    @include cooper;
    color: $primary;
    font-size: 30px;
}

h3 {
    @include cooper;
    color: $primary;
    font-size: 20px;
}

h5 {
    @include proxima-semibold;
    color: $primary;
    font-size: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

p {
    @include proxima;
    color: $primary;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 25px;
}

a {
    color: $primary;
    text-decoration: underline;

    &:hover {
        color: $accent;
    }
}