body {
    background: #FBF9F6;
    font-size: 16px;
}

body,
input,
textarea,
select,
button {
    @include proxima;
    color: $secondary;
}

h1 {
    @include cooper;
    color: $primary;
    font-size: 62px;
    text-align: center;
}

h2 {
    @include cooper;
    color: $secondary;
    font-size: 30px;
}

h3 {
    @include proxima-semibold;
    color: $primary;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h5 {
    @include proxima-semibold;
    color: $secondary;
    font-size: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

p {
    @include proxima;
    color: $secondary;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 25px;
}

a {
    color: $secondary;
    text-decoration: underline;

    &:hover {
        color: $accent;
    }
}