body {
    font-size: 16px;
}

body,
input,
textarea,
select,
button,
p {
    @include proxima;
}

h2 {
    @include grandsans;
    color: $Peyote;
    font-size: 80px;
    text-align: center;
}

h3 {
    @include grandsans;
    color: $Peyote;
    font-size: 26px;
    text-align: center;

    @media only screen and (min-width: 750px) {
        font-size: 40px;
    }
}

h4 {
    @include grandsans;
    color: $Peyote;
    font-size: 24px;
    letter-spacing: 0.5px;
    
    span {
        color: $Kyanite;
        font-size: 44px;
        text-align: center;    
    }
}

p {
    color: $Peyote;
    font-size: 18px;
    line-height: 1.2;

    @media only screen and (min-width: 750px) {
        font-size: 24px;
        line-height: 1.4;
    }
}

small {
    
}



a {
    text-decoration: underline;

    &:hover {

    }
}