.footer {
    background-color: $Azeal;
    box-sizing: border-box;
    color: $Peyote;
    margin-top: 60px;
    padding: 60px 20px;

    h3 {
        @include malaga;
        color: $Peyote;
        font-size: 75px;
    }

    h5 {
        @include grandsans;
        color: $Peyote;
        font-size: 24px;
        margin-top: 25px;
    }

    p {
        font-size: 20px;
    }

    li {
        font-size: 18px;
        margin-top: 10px;
        letter-spacing: 0.5px;

        a {
            color: $Peyote;
            text-decoration: none;
        }
    }
}

.footer__copyright {
    width: 40%;

    img {
        max-width: 100%;
    }
}

.footer__links {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.footer__brand,
.footer__shop {
    box-sizing: border-box;
    padding: 10px;
}