form {
    font-size: 28px;
    margin: 40px 20px 0;
    line-height: 2;
    text-align: center;
}

input {
    border-left: none;
    border-right: none;
    border-top: none;
    display: inline-block;
    font-size: 28px;
    margin: 0 10px;
    transition: all .25s;
    width: 24%;

    &:focus {
        outline: none;
    }
}

textarea {
    border-radius: 10px;
    display: inline-block;
    font-size: 28px;
    height: 200px;
    margin-top: 25px;
    padding: 15px;
    transition: all .25s;

    &:focus {
        outline: none;
        
    }
}

@media only screen and (max-width: 749px) {
    textarea {
        width: 100%;
    }
}

@media only screen and (min-width: 750px) {
    textarea {
        width: 60%;
    }
}