form {
    font-size: 28px;
    margin: 40px 20px 0;
    line-height: 2;
    text-align: center;
}

input {
    border-bottom: 1px solid $primary;
    border-left: none;
    border-right: none;
    border-top: none;
    display: inline-block;
    font-size: 28px;
    margin: 0 10px;
    transition: all .25s;
    width: 24%;

    &:focus {
        outline: none;
        border-bottom: 1px solid $accent;
    }
}

textarea {
    border-radius: 10px;
    display: inline-block;
    font-size: 28px;
    height: 200px;
    margin-top: 25px;
    padding: 15px;
    transition: all .25s;
    width: 60%;

    &:focus {
        outline: none;
        border: 1px solid $accent;
    }
}