.navigation {
    @include grandsans;
    font-size: 11px;
    letter-spacing: 2.5px;
    text-transform: uppercase;

    ul {
        display: flex;

        li + li {
            margin-left: 15px;
        }
    }

    a {
        color: $primary;
        text-decoration: none;
    }
}

@media only screen and (max-width: 749px) {
    .header__logo {
        margin-bottom: 20px;
    }

    .navigation {
        width: 100%;

        ul {
            justify-content: center;
        }
    }
}