.newsletter {
    text-align: center;

    p {
        margin-top: 10px;
    }
}

.newsletter__form {
    margin-top: 40px;

    @media only screen and (max-width: 749px) {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    @media only screen and (min-width: 750px) {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    input {
        border: 1px solid $Inertia;
        border-radius: 6px;
        padding: 20px;

        @media only screen and (max-width: 749px) {
            margin: 0 0 15px;
            width: 100%;
        }

        @media only screen and (min-width: 750px) {
            margin: 0 20px 0 0;
            width: 60%;
        }

        &:focus {
            border-color: $Kyanite;
        }
    }

    .btn {
        flex: 1;
    }
}