.super-spacer {
    border: none;
    height: 30px;
}

.services__highlight {
    border-radius: 10px;
    display: block;
    max-width: 100%;
}

.breakdown,
.contact {
    text-align: center;
}

.contact {
    padding-top: 50px;
    position: relative;

    &:before,
    &:after {
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
    }

    &:before {
        top: -10px;
    }

    &:after {
        top: -5px;
    }
}

.breakdown__grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.breakdown__step {
    text-align: center;

    h2 {
        margin-bottom: 20px;
    }

    span {
        display: block;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 749px) {
    .breakdown__grid {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 750px) {
    .breakdown__grid {
        flex-direction: row;
        justify-content: space-between;
    }

    .breakdown__step {
        width: 30%;
    }
}