.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 100%;
}

.flex-container {
    display: flex;
}



@media only screen and (max-width: 749px) {
    .container {
        padding: 25px;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex__quarter,
    .flex__half {
        text-align: center;
        width: 100%;
    }
}

@media only screen and (min-width: 750px) {
    .flex-container {
        flex-direction: row;
    }

    .flex__quarter {
        width: 25%;
    }
    
    .flex__half {
        width: 50%;
    }
}