.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
}

.container--header {
    align-items: center;
    display: flex;
}

.container--footer {
    display: flex;
}

.container--services {
    display: flex;
}

@media only screen and (max-width: 749px) {
    .container {
        padding: 25px;
    }

    .container--header {
        flex-direction: column;
        justify-content: center;
    }

    .container--footer {
        flex-direction: column;
    }

    .flex__quarter,
    .flex__half,
    .flex__threequarter {
        text-align: center;
        width: 100%;
    }
}

@media only screen and (min-width: 750px) {
    .container--header {
        justify-content: space-between;
    }

    .flex__quarter {
        width: 25%;
    }
    
    .flex__half {
        width: 50%;
    }

    .flex__threequarter {
        width: 75%;
    }
}