::-moz-selection {
    background-color: $Kyanite;
    color: rgba($Inertia, .75);
}
::selection {
    background-color: $Kyanite;
    color: rgba($Inertia, .75);
}
::-moz-selection {
    background-color: $Kyanite;
    color: rgba($Inertia, .75);
}
::-o-selection {
    background-color: $Kyanite;
    color: rgba($Inertia, .75);
}
::-ms-selection {
    background-color: $Kyanite;
    color: rgba($Inertia, .75);
}