@font-face {
    font-family: 'cooper';
    src: url('../../build/fonts/cooper_medium_bt-webfont.woff2') format('woff2'),
         url('../../build/fonts/cooper_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin cooper {
    font-family: "cooper", serif;
    font-weight: 400;
    line-height: 1.2;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../../build/fonts/proxima_nova_font-webfont.woff2') format('woff2'),
         url('../../build/fonts/proxima_nova_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin proxima {
    font-family: "proxima-nova", sans-serif;
    line-height: 1.2;
}

@font-face {
    font-family: 'brandon';
    src: url('../../build/fonts/brandon_reg-webfont.woff2') format('woff2'),
         url('../../build/fonts/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin brandon {
    font-family: "brandon", sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

@font-face {
    font-family: 'brandon-thin';
    src: url('../../build/fonts/brandon_thin-webfont.woff2') format('woff2'),
         url('../../build/fonts/brandon_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin brandon-thin {
    font-family: "brandon-thin", sans-serif;
    font-weight: 700;
    line-height: 1.2;
}