@font-face {
    font-family: 'Grandsans';
    src: url('../../build/fonts/GrandsansRegular.woff2') format('woff2'),
         url('../../build/fonts/GrandsansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin grandsans {
    font-family: "Grandsans", sans-serif;
    line-height: 1.2;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../build/fonts/proxima_nova_font-webfont.woff2') format('woff2'),
         url('../../build/fonts/proxima_nova_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin proxima {
    font-family: "Proxima Nova", sans-serif;
    line-height: 1.2;
}
